<head>
  <title>Entries</title>
  <link rel='stylesheet' href='/style.css' />
</head>


<ul id="entries">

  <a href="/analyze" id="analyze">Analyze</href>
  <a class="entry" id="new" href="/new"></a>

  {{#entries}}
    <li class="entry">
      <a class="date" href="/entry/{{_id}}">{{date}}</a>
      {{text}}
      <a class="delete" href="/delete/{{_id}}">x</a>
    </li>
  {{/entries}}
</ul>
