* {
  box-sizing: border-box;
  font-family: Inconsolata;
  color: rgba(0, 0, 0, 0.9);
}

body {
  margin: 0;
  padding: 20px;
}

body > .entry {
  max-width: 600px;
}

#entries {
  max-width: 600px;
  margin: auto;
  padding: 0;
  list-style: none;
}

.entry {
  margin: auto;
  min-height: 150px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: -50px;
  background-color: white;
  border: 1px solid lightgrey;
  box-shadow: 0px 5px 70px 0px rgba(0, 0, 0, 0.15);
}

.entry#new {
  background: none;
  border: 1px dashed lightgrey;
  box-shadow: 0px 5px 70px 0px rgba(0, 0, 0, 0.05);
}

.entry#new:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

.entry .date {
  font-weight: normal;
  width: 600px;
  height: auto;
  text-decoration: none;
  display: block;
  margin: 0;
  margin-bottom: 10px;
  font-size: 24px;
}

.entry .date:hover {
  text-decoration: underline;
  cursor: pointer;
}

.entry .fields {
  padding: 10px 0;
  border-width: 1px 0px;
  border-style: dashed;
  border-color: lightgrey;
}

.entry .fields input {
  border: none;
  font-size: 16px;
  outline: none;
  width: auto;
}

.entry .fields input:focus {
  text-decoration: underline;
}

.entry .fields .field {
  margin: 15px 0;
}

/**
 * Text field
 */
.entry .text {
  border: none;
  margin: 20px 0;
  outline: none;
  width: 100%;
  border: 1px solid lightgrey;
  min-height: 32px;
  font-size: 14px;
  padding: 5px;
}

/**
 * Submit button
 */
.entry button {
  width: 50px;
  display: inline-block;
  background: none;
  border: none;
  font-size: 14px;
}

.entry button:hover {
  font-weight: bold;
  cursor: pointer;
}

/**
 * Edit button
 */
.entry .edit {
  top: 0;
  right: 0;
  position: absolute;
  font-size: 14px;
  padding: 3px 6px;
}

@media (max-width: 800px) {
  .entry {
    max-width: 600px !important;
    width: auto;
  }
}
